body {
    background-color: #dedede;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
}

p {
    font-size: 25px;
    text-align: center;
}

img {
    width: 100%;
    max-height: 100%; /* added for responsiveness */
}

div {
    display: inline-block;
    width: 24%; /* default width for large screens */
    margin: 5px;
    padding: 2px;
    box-sizing: border-box; /* added for better spacing */
}

@media screen and (max-width: 772px) {
    div {
        width: 45%; /* adjusts width for tablet view */
    }

    img {
        max-height: 30vh; /* adjusts max height for tablet view */
    }
}

@media screen and (min-width: 773px) and (max-width: 998px) {
    div {
        width: 30%; /* adjusts width for large screen view */
    }
}

footer {
    text-align: center;
}
